<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Setting character set of the page-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Setting the title of the page-->
    <title>Dublin Bikes</title>

    <!-- Setting CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_about.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_about_member.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navigator-->
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Dublin Bikes</a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li>
            <a href="https://github.com/Minahhh666/Dublin-Bikes">GitHub</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="responsive-container-block outer-container">
      <div class="responsive-container-block inner-container">
        <div
          class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-4 wk-ipadp-4 headings-container"
        >
          <p class="text-blk heading-text">Group 1</p>

          <p class="text-blk sub-heading-text">Meet our team member</p>
        </div>

        <div
          class="responsive-cell-block wk-desk-8 wk-ipadp-8 wk-tab-12 wk-mobile-12 team-members-container"
        >
          <div
            class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container"
          >
            <div class="card">
              <img class="card-img" src="../static/images/JinKuan.jpg" />
              <p class="text-blk name">
                <a href="https://www.linkedin.com/in/jin-kuan-moo/"
                  >Jin Kuan Moo</a
                >
              </p>
            </div>
          </div>

          <div
            class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container"
          >
            <div class="card">
              <img class="card-img" src="../static/images/Weitao.jpg" />
              <p class="text-blk name">
                <a href="https://www.linkedin.com/in/weitaolee/">Weitao Li</a>
              </p>
            </div>
          </div>

          <div
            class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container"
          >
            <div class="card">
              <img class="card-img" src="../static/images/JinHau.jpg" />
              <p class="text-blk name">
                <a
                  href="https://www.linkedin.com/in/jinhau-aaron-liu-2128831a3/"
                  >Jin-Hau Liu</a
                >
              </p>
            </div>
          </div>

          <!--        <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-mobile-12 wk-tab-12 card-container">-->
          <!--            <div class="card">-->
          <!--                <img class="card-img" src="../static/images/ChatGPT_logo.svg.png">-->
          <!--                <p class="text-blk name">-->
          <!--                    <a href="https://chat.openai.com/chat">ChatGPT</a>-->
          <!--                </p>-->
          <!--            </div>-->
          <!--        </div>-->
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2023 Dublin Bikes. All rights reserved.</p>
    </footer>

    <!--  &lt;!&ndash; Background&ndash;&gt;-->
    <!--  <div class="bg_img"></div>-->

    <!--  &lt;!&ndash; Title and Button&ndash;&gt;-->
    <!--  <div class="center">-->
    <!--    <div class="title">One step at a time</div>-->
    <!--    <div class="sub_title">It is a trace of the journey</div>-->
    <!--    </div>-->
    <!--  </div>-->
  </body>
</html>
