<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Setting character set of the page-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Setting the title of the page-->
    <title>Dublin Bikes</title>

    <!-- Setting CSS-->
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/style_home.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- Navigator-->
    <nav>
      <div class="menu">
        <div class="logo">
          <a href="#">Dublin Bikes</a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/contact">Contact</a></li>
          <li>
            <a href="https://github.com/Minahhh666/Dublin-Bikes">GitHub</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Background-->
    <div class="bg_img"></div>

    <!-- Title and Button-->
    <div class="center">
      <div class="title">One step at a time</div>
      <div class="sub_title">It is a trace of the journey</div>
      <div class="btns" onclick=" window.location.href = '/services' ">
        <button>Start</button>
      </div>
    </div>

    <!-- Dublin Bike Logo-->
    <div id="db_bike">
      <img id="db1" src="../static/images/dbikes-removebg.png" alt="DB Bike" />
      <img id="db2" src="../static/images/dbikes-removebg.png" alt="DB Bike" />
      <img id="db3" src="../static/images/dbikes-removebg.png" alt="DB Bike" />
    </div>

    <!-- Footer -->
    <footer>
      <p>&copy; 2023 Dublin Bikes. All rights reserved.</p>
    </footer>
  </body>
</html>
